footer{
    margin-left:300px;
    background-color: var(--foColor);
    border-top: 4px solid #112e54;
}

p{
    line-height: 25px;
}

p span{
    color: var(--themeColor);
}

@media only screen and (max-width: 1050px){
    footer{
        margin-left: -1px;
    }
}