.row {
    padding: 50px 20px;
    margin: auto;
}

.row h1 {
    font-size: 32px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    display: inline;
}

h1:first-of-type span {
    color: black;
    font-weight: 600;
}

div {
    background-color: var(--sideBGColor);
}

h4 {
    font-size: 22px;
    font-weight: 700;
    display: block;
    color: #fefefe;
}

.table td.fecha,
.table td.desc {
    color: #fefefe;
    font-size: 17px;
}

.btn-editar {
    background-color: var(--themeColor);
    color: #fefefe;
}

.btn-editar:hover {
    background-color: #0062cc;
    color: #fefefe;
}