<section id="proyecto" class="proyecto">
    <div class="contenido-seccion">
        <h1>PROYECTOS</h1>
        <div class="galeria">
            <div class="item-proyecto">
                <img src="../../../assets/p1.jpg" alt="">
                <div class="overlay">
                    <h3>Diseño Creativo</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, repudiandae!</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="item-proyecto">
                <img src="../../../assets/p2.jpg" class="img-fluid" alt="">
                <div class="overlay">
                    <h3>Diseño Creativo</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, repudiandae!</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="item-proyecto">
                <img src="../../../assets/p3.jpg" class="img-fluid" alt="">
                <div class="overlay">
                    <h3>Diseño Creativo</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, repudiandae!</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="item-proyecto">
                <img src="../../../assets/p4.jpg" class="img-fluid" alt="">
                <div class="overlay">
                    <h3>Diseño Creativo</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, repudiandae!</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="item-proyecto">
                <img src="../../../assets/p5.jpg" class="img-fluid" alt="">
                <div class="overlay">
                    <h3>Diseño Creativo</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, repudiandae!</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="item-proyecto">
                <img src="../../../assets/p6.jpg" class="img-fluid" alt="">
                <div class="overlay">
                    <h3>Diseño Creativo</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, repudiandae!</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>