<div>
    <section id="sobremi" class="sobremi">
        <div class="contenido-seccion">
            <h1>Sobre mí</h1>
                <p><span>Saludos, mi nombre es Daniel Ulrich</span> y soy un apasionado de la tecnología. Actualmente me encuentro en el umbral de mi desarrollo profesional como desarrollador web Full-Stack. Mi objetivo es mantener un crecimiento constante en mis habilidades, aprendiendo todo lo relacionado al mundo de la programación y aplicándolo en la práctica. Soy una persona responsable, dedicada, empática y curiosa. Enfrentar proyectos complejos es algo que me motiva, ya que los veo como un reto y una oportunidad para crecer profesionalmente. Además, me gustaría destacar que me encanta colaborar en proyectos que requieren trabajo en equipo para alcanzar objetivos conjuntos.</p>
                <app-experiencia></app-experiencia>
                <app-educacion></app-educacion>
        </div>
    </section>
</div>